<title><%=title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<link rel="shortcut icon" href='<%= assetFingerprint('public/images/favicon.png') %>' type="image/png">
<link rel='stylesheet' href='<%= assetFingerprint('public/stylesheets/style.min.css') %>' />