<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>404</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="shortcut icon" href="<%= assetFingerprint('public/images/favicon.png') %>" type="image/x-icon">
        <link rel='stylesheet' href="<%= assetFingerprint('public/stylesheets/style.css') %>" />
    </head>
    <body>
        <section id="error">
            <h2>Страница не найдена</h2>
            <a href="/">Вернуться на главную страницу</a>
        </section>
    </body>
</html>